<?xml version='1.0' encoding='utf-8'?><widget id="com.pedrohenrique.theroundworlddungeons" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"><name>The Round World Dungeons</name><description> Explore masmorras no jogo de Pedro Henrique Pereira. </description><author email="jdkkdksjrjdjs@gmail.com" href="https://github.com/jdkkdksjrjjs-lang"> Pedro Henrique Pereira </author><content src="index.html" /><access origin="*" /><preference name="Fullscreen" value="true" /><preference name="Orientation" value="landscape" /><icon src="icon.png" /></widget>